doctype html
html(lang="en")
    head
        include includes/head
    body
        .container-fluid.mx-auto#main-frame
            //---[Main-Tile]---
            .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xl-4#main-tile
                .card.text-xs-center
                    .card-block
                        h1.display-4.card-title BookX
                        h3.card-text
                            em Hello, <strong>#{profileName}</strong>!
                    ul.list-group.list-group-flush
                        li.list-group-item 
                            a(href='/requests') #{requests} requests
                    .card-footer
                        a.card-link(href='/profile')#profile-link Profile
                        a.card-link(href='/logout')#logout-link Logout
                        
            //---[Book-Tiles]---...POSTS req.body.ISBN_owner of book user is requesting.
            form(method='POST')
                -for(i=0;i<books.length;i++)
                    .col-xs-6.col-sm-4.col-md-3.col-lg-2.col-xl-2
                        .card.card-inverse.text-xs-center(style="background-color: #333; border-color: #333;")
                            img.card-img-top.ma-1.img-fluid(src='http://covers.openlibrary.org/b/isbn/'+ books[i].isbn +'-L.jpg' style='height:220px;margin-top:5px;')
                            .card-block
                                .btn-group(role='group', aria-label='Basic example')
                                    button.btn.btn-secondary(type='button', data-toggle="modal", data-target=".info-modal"+books[i].isbn)
                                        i.fa.fa-info(aria-hidden='true')
                                    button.btn.btn-secondary(type='submit', name='ISBN_owner', value=books[i].isbn+' '+books[i].owneremail)
                                        i.fa.fa-envelope-o(aria-hidden='true')
                                p.card-text.m-0
                                    small.text-muted #{pretty(books[i].date)}
                    .modal.fade(tabindex="-1", role="dialog", aria-labelledby="info-modal", aria-hidden="true", class="info-modal"+books[i].isbn)
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type="button", data-dismiss="modal", aria-label="close")
                                        span(aria-hidden="true") &times;
                                    h4.text-xs-center #{books[i].info.title}
                                    .container(style="max-width:600px")
                                        .row.text-xs-center
                                            .col-sm-6
                                                dt Pages:
                                            .col-sm-6.text-sm-left
                                                dd #{books[i].info.pages}
                                            .col-sm-6
                                                dt Author:
                                            .col-sm-6.text-sm-left
                                                dd #{books[i].info.author}
                                            .col-sm-6
                                                dt Published:
                                            .col-sm-6.text-sm-left
                                                dd #{books[i].info.publish_date}
                                            //.col-sm-6
                                            //   dt Summary:
                                            //.col-sm-6.text-sm-left
                                            //    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            .col-sm-6
                                                dt Submitted by:
                                            .col-sm-6.text-sm-left
                                                dd #{books[i].owner}
                                            .col-sm-6
                                                dt Date:
                                            .col-sm-6.text-sm-left
                                                dd #{prettydate(books[i].date)}
        include includes/script
        
- function pretty(i) {
    -x =  new Date(i);
    -today = new Date();
    -var y = new Date(today-x);
    -var yhours = y.getHours();
    -var yminutes = y.getMinutes();
    -var ydays = y.getDate()-1;
    -var ymonths = y.getMonth();
    -if (ymonths > 0) {
        -if (ymonths==1) return ymonths+' month ago';
        -return ymonths+' months ago';
    -} else if (ydays > 0) {
        -if (ydays==1) return ydays+' day ago';
        -return ydays+' days ago';
    -} else if (yhours > 0) {
        -if (yhours==1) return yhours+' hour ago';
        -return yhours+' hours ago';
    -} else if (yminutes >= 1) {
        -if (yminutes==1) return yminutes+' minute ago';
        -return yminutes+' minutes ago';
    -} else {
        -return 'Just posted!'   
    -}
-}
-function prettydate(i) {
    -var d = new Date(i);
    -var curr_date = d.getDate();
    -var curr_month = d.getMonth() + 1; //Months are zero based
    -var curr_year = d.getFullYear();
    -return curr_month+'/'+curr_date+'/'+curr_year;
-}